{% extends 'base.html' %}

{% block content %}
<div style="margin: auto;margin-top: 3%;padding: 20px;font-size: 14px;background-color: #fff;border: 1px solid #e0e0e0;border-radius: 6px 6px 6px 6px; max-width: 600px">
    <h2 style="text-align: center;">Подтверждение заказа</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h5>{{ form.address.label }}</h5>
        <p>
            {{ form.address(class="form-control") }}
            {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>
        <h5>{{ form.comment.label }}</h5>
        <p>
            {{ form.comment(class="form-control") }}
            {% for error in form.comment.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>
        <div>
            <h5>Содержимое заказа:</h5>
            {% for card_entry_data in card_entries_data %}
            <p>- {{ card_entry_data["product_name"] }}, Количество: {{ card_entry_data["count"] }} шт., Стоимость: {{ card_entry_data["total_price"] }} у.е.</p>
            {% endfor %}
            <h5>Общая стоимость: </h5>
            <p>{{ total_card_price }} у.е.</p>
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="width: 49.5%; margin-top: 1.5%; float: left;") }}
        <a class="btn btn-outline-success" href="/user_card/{{ current_user.id }}" style="width: 49.5%; margin-top: 1.5%; margin-left: 1%;">Отмена</a></p>
        {{message}}
    </form>
</div>
{% endblock %}
