{% extends "base.html" %}
{% block content %}
<div style="margin: auto;margin-top: 1%;padding: 20px;font-size: 14px;background-color: #fff;border: 1px solid #e0e0e0;border-radius: 6px 6px 6px 6px; max-width: 800px">
    <h2 style="text-align: center;">Пользователи</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>{{ form.search.label }}</h6>
                    {{ form.search(class="form-control", placeholder="Введите поисковый запрос") }}
                    {% for error in form.search.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <h6 style="color:#F7F8FA">j</h6>
                    {{ form.submit(type="submit", class="btn btn-primary", style="width: 100%;") }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h6>{{ form.role.label }}</h6>
                    {{ form.role(class="form-control") }}<br>
                    {% for error in form.role.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        {% for user in paginated_users %}
                        <a href="/profile/{{ user.id }}" class="list-group-item list-group-item-action">
                            <div style="font-size: 17px;line-height: 24px;font-weight: 400;font-family: Helvetica,Arial,sans-serif;color: #333;word-break: break-word;">
                                <img src="/{{ user.profile_img_path }}" width="40" height="40"
                                     style="border-radius: 100px;"
                                     onerror="this.src='/static/imgs/noimg.jpg'; this.alt='noimg.jpg';">
                                {% if user.role_id == 1 %}
                                <span>Имя: <span style="color: blue">{{ user.name }}</span>, Email: <span
                                        style="color: blue">{{ user.email }}</span>, Роль: <span style="color: red">Администратор</span></span>
                                {% else %}
                                <span>Имя: <span style="color: blue">{{ user.name }}</span>, Email: <span
                                        style="color: blue">{{ user.email }}</span>, Роль: <span style="color: blue">Обычный</span></span>
                                {% endif %}
                                <p>Дата регистрации: {{ user.time.strftime("%Y-%m-%d %H:%M") }}</p>
                            </div>
                        </a>
                        {% else %}
                        <br><br>
                        <div class="d-flex justify-content-center align-items-center" style="height: 2vh;">
                            <p>Ничего не найдено.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if total_pages != 1 %}
            <div class="pagination justify-content-center mt-4">
                {% set base_url = request.path %}
                {% set query_params = [] %}
                {% if current_search_query %}
                {% set _ = query_params.append('search=' + current_search_query) %}
                {% endif %}
                {% if current_role_filter and current_role_filter != '0' %} {# '0' означает "Все", его можно не
                добавлять #}
                {% set _ = query_params.append('role=' + current_role_filter) %}
                {% endif %}

                {% set existing_params_str = '&'.join(query_params) %}
                {% set separator = '?' if not existing_params_str else '&' %}

                {% if current_page > 1 %}
                <a class="btn btn-outline-dark"
                   href="{{ base_url }}?page={{ current_page - 1 }}{% if existing_params_str %}&{{ existing_params_str }}{% endif %}">Назад</a>
                {% endif %}

                {% for page in range(1, total_pages + 1) %}
                <a class="btn btn-outline-dark mx-1 {% if page == current_page %}active{% endif %}"
                   href="{{ base_url }}?page={{ page }}{% if existing_params_str %}&{{ existing_params_str }}{% endif %}">{{
                    page }}</a>
                {% endfor %}

                {% if current_page < total_pages %}
                <a class="btn btn-outline-dark"
                   href="{{ base_url }}?page={{ current_page + 1 }}{% if existing_params_str %}&{{ existing_params_str }}{% endif %}">Вперед</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </form>
</div>
<br>
{% endblock %}
